.subscribeDiv {
    width: 1px;
    background-color: #ffffff;
}
.subscribeRight {
    display: flex;
    width: calc(100% - 1px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #222224;
}

.subscribeRightTopic {
    font-size: 24px;
    font-weight: 400;
}

.subscribeRightText {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.subscribeRightForm {
    margin-left: 92px;
    margin-top: 35px;
}
.subscribeRightForm input {
    width: 334px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    font-weight: 700;
    outline: none;
    border: none;
    padding-left: 28px;
}

.subscribeRightForm button {
    color: #ffffff;
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    outline: none;
    border: none;
    cursor: pointer;
    transform: translateX(-52px);
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 109px !important;
}

.footerSection:first-child {
    width: 427px;
}

.footer_text {
    margin-top: 29px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.footerSection h2 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
}

.footerSection a{
    display: block;
    text-decoration: none;
    color: #898989;
    margin-bottom: 30px;
}

.footerSection a:hover {
    color: #f16d7f;
}

.rights {
    height: 79px;
    background: #e6e6e6;
}

.rights .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7a7a7a;
}

.rightsText {
    font-size: 16px;
    font-weight: 400;
}

.rightsLinks {
    display: flex;
    width: 191px;
    justify-content: space-between;
}

.rightsLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    text-decoration: none;
    color: inherit;
}


.rightsLinks a:hover {
    background: #f16d7f;
    color: #f7f7f8;
}