.subscribe {
    display: flex;

    &Wrap {
        margin-top: 100px;
        height: 438px;
        background: url(#{$imgPath}/subscribe_bg.jpg) no-repeat center bottom, #ccc;
        background-blend-mode: overlay;
        background-size: cover;
    }

    &Left {
        display: flex;
        width: calc(100% - 1px);
        align-items: center;
    }

    &Div {
        width: 1px;
        background-color: #ffffff;  
    }

    &Right {
        display: flex;
        width: calc(100% - 1px);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #222224;    
    }

    &RightTopic {
        font-size: 24px;
        font-weight: 400;
    }

    &RightsText {
        font-size: 14px;
        font-weight: 700;
        line-height: 24px; 
    }

    &RightForm {
        margin-left: 92px;
        margin-top: 35px;

        & input {
            width: 334px;
            height: 46px;
            border-radius: 23px;
            background-color: #e1e1e1;
            font-weight: 700;
            outline: none;
            border: none;
            padding-left: 28px;
        }
        
        & button {
            color: #ffffff;
            width: 104px;
            height: 46px;
            border-radius: 0 23px 23px 0;
            background-color: $mainColor;
            outline: none;
            border: none;
            cursor: pointer;
            transform: translateX(-52px);
        }
    }
}
