.topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 710px) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px
    }


    @media (max-width: 710px) {
        height: auto;
    }

    @media (max-width: 400px) {
        flex-direction: column;
        height: auto;
    }
    
    a {
        text-decoration: none;
        color: #222222;
        line-height: 51px;
        border-bottom: 3px solid transparent;
        
        @media (max-width: 710px) {
            &:last-child{
                margin: 0 30px;
            }
            line-height: 2.2;
        }

        @media (max-width: 450px) {
            margin: 0 15px;
        }
        
        @media (max-width: 400px) {
            border-bottom: none;
            margin: 0;
            line-height: 1.8;
        }

        &:not(:last-child) {
            margin-right: 45px;

            @media (max-width: 710px) {
                margin: 0 30px;
            }

            @media (max-width: 450px) {
                margin: 0 15px;
            }
        }

        &:hover {
            border-bottom: 3px solid #ef5b70;

            @media (max-width: 400px) {
                border-bottom: none;
                color: #ef5b70;
            }
        }

    }
}