.b-newArrivals {
    height: 148px;
    background-color: #f8f3f4;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__Text {
        color: $mainColor;
        font-size: 24px;
        font-weight: 900;
    }

    &__link {
        font-size: 14px;
        font-weight: 700;
        color: #636363;
        text-decoration: none;
        &:last-child {color: $mainColor;}
    }
}